/* === Base Styles === */
.App {
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none; /* hide scrollbar in Chrome, Edge */
}

body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
}

.scroll-container {
    scroll-snap-type: y mandatory;
}

.section {
    scroll-snap-align: start;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/* === Backgrounds === */
#hero {
    background: linear-gradient(to right top, rgba(255, 195, 113, 0.5), rgba(255, 95, 109, 0.5));
}

#projects {
    background: linear-gradient(to right, rgba(0, 90, 167, 0.5), rgba(2, 225, 255, 0.5));
}

#roadmap {
    background: linear-gradient(to right, rgba(86, 171, 47, 0.5), rgba(168, 224, 99, 0.5));
}

#events {
    background: linear-gradient(to right, rgba(170, 7, 107, 0.5), rgba(97, 4, 95, 0.5));
}

#roboshare {
    background: linear-gradient(to right, rgba(76, 175, 80, 0.5), rgba(139, 195, 74, 0.5));
}
#hero,
#projects,
#roadmap,
#events,
#roboshare {
  scroll-margin-top: 70px; /* Set this to be the height of your fixed navbar + a little extra padding */
}