/* === Base Styles === */
.App {
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none; /* hide scrollbar in Chrome, Edge */
}

body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
}

.scroll-container {
    scroll-snap-type: y mandatory;
}

.section {
    scroll-snap-align: start;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


/* === Backgrounds === */#hero {
    background: linear-gradient(rgba(15,32,39,0.7), rgba(32,58,67,0.7), rgba(44,83,100,0.7));
}

#projects {
    background: linear-gradient(rgba(13,27,42,0.7), rgba(27,38,59,0.7), rgba(65,90,119,0.7), rgba(119,141,169,0.7));
}

#roadmap {
    background: linear-gradient(rgba(0,31,63,0.7), rgba(0,116,217,0.7), rgba(127,219,255,0.7));
}

#events {
    background: linear-gradient(rgba(10,15,26,0.7), rgba(31,42,64,0.7), rgba(53,69,93,0.7));
}
