.custom-navbar {
    position: fixed;      /* Fix at top */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;        /* On top of everything */

    background: rgba(25, 25, 25, .8);
    backdrop-filter: blur(4px) saturate(180%);
    -webkit-backdrop-filter: blur(4px) saturate(180%);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    color: white;
}


.custom-navbar .nav-link,
.custom-navbar .navbar-brand,
.custom-navbar .btn {
    color: white !important;
}

.custom-navbar .btn.btn-primary {
    background-color: rgba(0, 123, 255, 0.3);
    border: none;
}

.custom-navbar .btn.btn-primary:hover {
    background-color: rgba(0, 123, 255, 0.6);
}


.sign-up:hover {
  color: rgb(255, 255, 255) !important;
  background-color: rgb(12, 100, 231) !important;
  border-color: rgb(53, 53, 53) !important;
}